h1 {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
}

h4 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 600;
	font-size: 24px;
}

.body-text {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.margin-top-lg{
	margin-top: 72px !important;
}

.margin-btm-lg{
	margin-bottom: 72px !important;
}

.margin-top-md{
	margin-top: 48px !important;
}

.margin-btm-md{
	margin-bottom: 48px !important;
}

.margin-md{
	margin-top: 48px !important;
	margin-bottom: 48px !important;
}

.margin-top-sm{
	margin-top: 24px;
}

.margin-btm-sm{
	margin-bottom: 24px;
}

.axis path,
.axis line{
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.btn-tabs{
	display: inline-block;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 72px;
	font-size: 14px;
	font-family: 'Helvetica Neue';
	line-height: 28px;
	border: #444 1px solid;
	color: #444;
	background-color: #fff;
	margin-right: 12px;
	cursor: pointer;
}

.btn-active {
	background-color: #444 !important;
	color: #fff !important;
}


