

h4.section {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

.body-text {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}

.note-text {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
}

.margin-lg{
	margin-top: 72px !important;
	margin-bottom: 72px !important;
}

.margin-top-lg{
	margin-top: 72px !important;
}

.margin-btm-lg{
	margin-bottom: 72px !important;
}

.margin-top-md{
	margin-top: 36px !important;
}

.margin-btm-md{
	margin-bottom: 36px !important;
}

.margin-md{
	margin-top: 36px !important;
	margin-bottom: 36px !important;
}

.margin-top-sm{
	margin-top: 24px;
}

.margin-btm-sm{
	margin-bottom: 24px;
}

.axis path,
.axis line{
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.btn-tabs{
	display: inline-block;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 64px;
	font-size: 12px;
	font-family: 'Helvetica Neue';
	line-height: 28px;
	border: #444 1px solid;
	color: #444;
	background-color: #fff;
	margin-right: 12px;
	cursor: pointer;
}

.btn-active {
	background-color: #444 !important;
	color: #fff !important;
}


